
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7fafc;
}

.App-header {
  background-color: #007BFF;
  padding: 20px;
  color: white;
  text-align: center;
}
